@charset "UTF-8"
    .tex{
        color: white;
    }    
/*paragrafo*/
    p{
        text-align: justify;
        text-indent: 50px;
    }

    /*fundo site*/
    body{
        background-color: white;
    }

    /*Formatação de imagens com legenda*/
    figure.foto-legenda{
        position: absolute;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;
    }

    figure.foto-legenda img{
        width: auto;
        height: auto;
    }
    figure.foto-legenda figcaption{
        opacity: 0;
        position: absolute;
        top: 0px;
        background-color: rgba(0, 0,0,.4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;/* Espaço dentro da legenda*/
        box-sizing: border-box;/* utiliza o tamanho da borda*/
        transition: opacity 1s;
    }
    figure.foto-legenda:hover figcaption{
        opacity: 1;
    } /*faz aparecer a legenda quando o mouse pasa o hover deispara uma classe espcifica*/