@charset "UTF-8"
    .tex{
        color: white;
    }    
/*paragrafo*/
    p{
        text-align: justify;
        text-indent: 50px;
    }

    /*fundo site*/
    body{
        background-color: black;
    }

    div#interface{
        width: 800px;
        margin: 10px 10px 10px 10px;
    }

    /*Formatação de imagens com legenda*/
    figure.foto-legenda{
        position: absolute;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;
    }

    figure.foto-legenda img{
        width: auto;
        height: auto;
    }
    figure.foto-legenda figcaption{
        opacity: 0;
        position: absolute;
        top: 0px;
        background-color: rgba(0, 0,0,.4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;/* Espaço dentro da legenda*/
        box-sizing: border-box;/* utiliza o tamanho da borda*/
        transition: opacity 1s;
    }
    figure.foto-legenda:hover figcaption{
        opacity: 1;
    } /*faz aparecer a legenda quando o mouse pasa o hover deispara uma classe espcifica*/

    /* Formatação do menu */
    /* sempre que tiver um id, coloca-se #*/
    nav#menu{
        display: block;
    }

    nav#menu ul{ 
        list-style: none;
        text-transform: uppercase;
        position: absolute;
        top: -20px;
        left: 400px;  
    } 

    nav#menu li{
        display: inline-block;
        background-color: black;
        padding: 10px;
        margin: 2px;
        transition: background-color 1s;
    }
/* Efeito de passar o mouse */
    nav#menu li:hover{
        background-color: #606060;
    }

    nav#menu h2{
        display: none;
    }

    nav#menu a{
        color: black;
        text-decoration: none;
    }

    nav#menu a:hover{
        color: gray;
    }

    header#cabecalho img#icone{
        position: absolute;
        left: 10px;
        top: 50px;
    }

    header#cabecalho{
        border-bottom: 1px #606060 solid;
        height: 150px;
        background: url(imgs/netflix.png)no-repeat 0px 100px;
    }